# Summative Course Assessment

**==========================================================================================================**

## Import Libraries

In [1]:
import numpy as np
#from numpy import count_nonzero, median, mean
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import seaborn as sns
import random
import datetime
from datetime import datetime, timedelta, date

%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)
#sns.set(rc={'figure.figsize':(14,10)})

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

**==========================================================================================================**

## Import Data

In [2]:
album = pd.read_csv("Album.csv")
album.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [3]:
invoice = pd.read_csv("Invoice.csv")
invoice

     InvoiceId  CustomerId          InvoiceDate                            BillingAddress BillingCity BillingState BillingCountry BillingPostalCode  Total
0            1           2  2009-01-01 00:00:00                   Theodor-Heuss-Straße 34   Stuttgart          NaN        Germany             70174   1.98
1            2           4  2009-01-02 00:00:00                          Ullevålsveien 14        Oslo          NaN         Norway              0171   3.96
2            3           8  2009-01-03 00:00:00                           Grétrystraat 63    Brussels          NaN        Belgium              1000   5.94
3            4          14  2009-01-06 00:00:00                            8210 111 ST NW    Edmonton           AB         Canada           T6G 2C7   8.91
4            5          23  2009-01-11 00:00:00                           69 Salem Street      Boston           MA            USA              2113  13.86
..         ...         ...                  ...                                       ...         ...          ...            ...               ...    ...
407        408          25  2013-12-05 00:00:00                     319 N. Frances Street     Madison           WI            USA             53703   3.96
408        409          29  2013-12-06 00:00:00                    796 Dundas Street West     Toronto           ON         Canada           M6J 1V1   5.94
409        410          35  2013-12-09 00:00:00  Rua dos Campeões Europeus de Viena, 4350       Porto          NaN       Portugal               NaN   8.91
410        411          44  2013-12-14 00:00:00                           Porthaninkatu 9    Helsinki          NaN        Finland             00530  13.86
411        412          58  2013-12-22 00:00:00                       12,Community Centre       Delhi          NaN          India            110017   1.99

[412 rows x 9 columns]

In [4]:
cust = pd.read_csv("Customer.csv")
cust.head()

   CustomerId  FirstName     LastName                                           Company                          Address                 City State         Country PostalCode               Phone                 Fax                     Email  SupportRepId
0           1       Luís    Gonçalves  Embraer - Empresa Brasileira de Aeronáutica S.A.  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566      luisg@embraer.com.br             3
1           2     Leonie       Köhler                                               NaN          Theodor-Heuss-Straße 34            Stuttgart   NaN         Germany      70174    +49 0711 2842222                 NaN     leonekohler@surfeu.de             5
2           3   François     Tremblay                                               NaN                1498 rue Bélanger             Montréal    QC          Canada    H2G 1A7   +1 (514) 721-4711                 NaN       ftremblay@gmail.com             3
3           4      Bjørn       Hansen                                               NaN                 Ullevålsveien 14                 Oslo   NaN          Norway       0171     +47 22 44 22 22                 NaN     bjorn.hansen@yahoo.no             4
4           5  František  Wichterlová                                  JetBrains s.r.o.                    Klanova 9/506               Prague   NaN  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555  frantisekw@jetbrains.com             4

In [5]:
track = pd.read_csv("Track.csv")
track.head()

   TrackId                                     Name  AlbumId  MediaTypeId  GenreId                                           Composer  Milliseconds     Bytes  UnitPrice
0        1  For Those About To Rock (We Salute You)        1            1        1          Angus Young, Malcolm Young, Brian Johnson        343719  11170334       0.99
1        2                        Balls to the Wall        2            2        1                                                NaN        342562   5510424       0.99
2        3                          Fast As a Shark        3            2        1  F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...        230619   3990994       0.99
3        4                        Restless and Wild        3            2        1  F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...        252051   4331779       0.99
4        5                     Princess of the Dawn        3            2        1                         Deaffy & R.A. Smith-Diesel        375418   6290521       0.99

In [6]:
df = pd.merge(left=track, right=album, on="AlbumId", how="inner")

In [7]:
df

      TrackId                                               Name  AlbumId  MediaTypeId  GenreId                                   Composer  Milliseconds     Bytes  UnitPrice                                              Title  ArtistId
0           1            For Those About To Rock (We Salute You)        1            1        1  Angus Young, Malcolm Young, Brian Johnson        343719  11170334       0.99              For Those About To Rock We Salute You         1
1           6                              Put The Finger On You        1            1        1  Angus Young, Malcolm Young, Brian Johnson        205662   6713451       0.99              For Those About To Rock We Salute You         1
2           7                                    Let's Get It Up        1            1        1  Angus Young, Malcolm Young, Brian Johnson        233926   7636561       0.99              For Those About To Rock We Salute You         1
3           8                                   Inject The Venom        1            1        1  Angus Young, Malcolm Young, Brian Johnson        210834   6852860       0.99              For Those About To Rock We Salute You         1
4           9                                         Snowballed        1            1        1  Angus Young, Malcolm Young, Brian Johnson        203102   6599424       0.99              For Those About To Rock We Salute You         1
...       ...                                                ...      ...          ...      ...                                        ...           ...       ...        ...                                                ...       ...
3498     3499  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...      343            2       24                                        NaN        286741   4718950       0.99                             Respighi:Pines of Rome       226
3499     3500  String Quartet No. 12 in C Minor, D. 703 "Quar...      344            2       24                             Franz Schubert        139200   2283131       0.99  Schubert: The Late String Quartets & String Qu...       272
3500     3501               L'orfeo, Act 3, Sinfonia (Orchestra)      345            2       24                         Claudio Monteverdi         66639   1189062       0.99                                Monteverdi: L'Orfeo       273
3501     3502  Quintet for Horn, Violin, 2 Violas, and Cello ...      346            2       24                    Wolfgang Amadeus Mozart        221331   3665114       0.99                              Mozart: Chamber Music       274
3502     3503                                      Koyaanisqatsi      347            2       10                               Philip Glass        206005   3305164       0.99  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[3503 rows x 11 columns]

**==========================================================================================================**

#### Python code done by Dennis Lam